<div class="container text-center py-5">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="item">
          <span class="icon">
            <i class="fa fa-envelope" ></i>
          </span>
          <h5 class="counter fw-bold text-primary-emphasis">Email</h5>
          <h6 class="text-secondary">hebaawad19999@gmail.com</h6>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="item">
          <span class="icon">
            <i class="fa fa-phone"></i>
          </span>
          <h5 class="counter fw-bold text-primary-emphasis">Phone</h5>
          <h6 class="text-secondary">+2 01096395632</h6>
        </div>
      </div>

      <div class="col-md-6 py-5">
        <div>
          <input id="from_name" type="text" name="name" placeholder="Name" required="required"  class="form-control form-control-lg">
        </div>

      </div>

      <div class="col-md-6 py-5">
        <div>
          <input id="from_email" type="text" email="email" placeholder="Email" required="required"  class="form-control form-control-lg">
        </div>

      </div>

      <div class="col-md-12 ">
        <div>
          <textarea id="from_message" message="message" placeholder="Message" required="required" class="form-control" rows="5"></textarea>
        </div>

      </div>

      <div class="btn-move p-5">
      <button type="button" class="btn btn-danger sub ">Submit</button>
      </div>
    </div>
</div>

<div class="container text-center" >
    <div class="row gy-5">
      <div class="col-md-12 p-4">
        <div>
          <p class="heba text-center">Copyright 2024. Designed by<span class="color-heba ms-2">ℍ𝔼𝔹𝔸 𝔸𝕎𝔸𝔻</span>, All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>