<h1 class="text-center text-primary p-2">Pictures Of <span>Marvel Heroes</span> </h1>

<div class="container">
    <div class="row g-2">
        <div class="col-md-4">
            <div>
                <h4 class="text-center"> (Dr Strange)</h4>
                <img src="../../assets/img/5.jpg" alt="Dr_Strange">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-primary"> ( Thor )</h4>
                <img src="../../assets/img/6.jpg" alt="Thor">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-warning"> ( SpiderMan )</h4>
                <img src="../../assets/img/8.jpg" alt="Spider_Man ">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-primary"> ( Captain Marvel )</h4>
                <img src="../../assets/img/7.jpg" alt="Captain_Marvel">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-primary"> ( Natasha Romanoff )</h4>
                <img src="../../assets/img/9.jpg" alt="Natasha_Romanoff">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-primary"> ( Captain America )</h4>
                <img src="../../assets/img/11.png" alt="Captain_America">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-success"> ( Hulk )</h4>
                <img src="../../assets/img/10.jpg" alt="Hulk">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-primary"> ( Clint Barton)</h4>
                <img src="../../assets/img/12.png" alt="Clint_Barton">
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4 class="text-center text-warning"> ( Black Panther )</h4>
                <img src="../../assets/img/13.jpg" alt="Black_Panther">
            </div>
        </div>
    </div>
    
</div>