<h1 class="text-center text-primary">Welcom To <span>Marvel World</span> </h1>
<img src="../../assets/img/3.jpg" alt="Marvel">
<h2 class="text-center p-2">The king Of Marvel</h2>


<div class="container iron-div">
    <div class="row ">
        <div class="col-lg-6 col-md-1">
            <div  class="p-2">
                <h4> (Iron Man )</h4>
                <video width="300px" controls loop autoplay src="../../assets/video/iron man.mp4"></video>
            </div> 
        </div>
        <div class="col-lg-6 col-md-1 ">
            <div class="p-2 info">
                <h4>Information :</h4>
                <p>Iron Man, or Iron Man, is one of the famous fictional characters that the world has seen in several films.

                    Tony Stark creates a powerful armor with the help of a friend. Using this armor, he fights evil people and protects the world. He then becomes a great hero, and his character was embodied by the great actor Robert Downey Jr.</p>
            </div>
        </div>
    </div>
</div>